@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
* {
  font-family: "kumbh sans", "sans-serif";
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Roboto Mono";
  font-size: 24px;
  scroll-behavior: smooth;
}

section {
  height: 100vh;
  width: 100%;
  background-color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
}

#home {
  background-color: royalblue;
}

#about {
  background-color: aquamarine;
}

#footer {
  background-color: crimson;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
}

.scroll-indicator {
  position: absolute;
  top: 99%;
  left: 0;
  background: red;
  height: 0.5rem;
}

nav .container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

nav .container ul li {
  display: inline-block;
}

nav .container ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  color: black;
}

nav .container ul li.active {
  background-color: crimson;
  -webkit-transition: 0.3s ease background-color;
  transition: 0.3s ease background-color;
}

nav .container ul li.active a {
  color: white;
}

/* header {
  position: sticky;
  top: 0;
  z-index: 100;
  background: $bg;
  padding: 2rem 10%;
  display: flex;
  align-items: center;

  .logo {
    font-size: 3rem;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
  }

  nav {
    margin-left: auto;

    a {
      font-size: 2rem;
      color: white;
      margin-right: 5rem;
    }

    .nav-btn {
      background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
      padding: 0.8rem 2rem;
      border-radius: 0.5rem;
    }
  }
} */
/* // media quearies
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 2rem 5%;
  }
}
@media (max-width: 768px) {
  header {
    justify-content: space-between;
    nav {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      background: $bg;
      padding-bottom: 3rem;
      transform: translateY(-115%);
      transition: all 0.2s linear;

      &.active {
        transform: translateY(0%);
      }

      a {
        display: block;
        text-align: center;
        margin: 3rem 0;
        font-size: 2.5rem;
      }

      .nav-btn {
        margin: 1rem 9rem;
        padding: 3rem;
      }
    }

    .menu-bar {
      span {
        width: 3rem;
        height: 0.4rem;
        background: white;
        cursor: pointer;
        margin: 0.7rem 0;
        display: block;
        transition: all 0.2s linear;

        &:nth-child(2).active {
          opacity: 0;
        }

        &:nth-child(1).active {
          transform: translateY(1.1rem) rotate(45deg);
        }

        &:nth-child(3).active {
          transform: translateY(-1.1rem) rotate(-45deg);
        }
      }
    }
  }
}
 */
/*# sourceMappingURL=style.css.map */